.projectsBlock {
    background-color: #f8f9fa;
    min-height: 100vh;
}

.projectsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

/*.title {*/
/*    color: rgb(103, 34, 181);*/
/*}*/

.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 574px){
    .projects {
        justify-content: center;
    }
}