@import "../../src/common/styles/sass/variables";
@import "../../src/common/styles/sass/mixins";

.mainBlock {
  background: $bgColor;
  height: 100vh;

  .welcomeText {
    width: 300px;
    background-color: rgba(199, 194, 224, 0.51);
  }

  .image {
    width: 300px;
    height: 400px;
    background-color: rgba(199, 194, 224, 0.63);
  }
}