//$textColor: rgb(103, 34, 181);
$textColor: rgb(103, 69, 232);
$primaryTextColor: white;
$bgColor: #f8f9fa;
$primaryBgColor: #fff;
$secondBgColor: rgb(58, 55, 72);
$fontFamily: 'Poppins', sans-serif;
