.skill {
    width: 230px;
    background-color: rgba(231, 144, 180, 0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: rgba(82, 96, 112, 0.43);
}

.description {

}