@import "../../src/common/styles/sass/variables";
@import "../../src/common/styles/sass/mixins";

.contactsBlock {
  background-color: $secondBgColor;
  min-height: 100vh;

  .contactsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .title {
      color: white;
    }

    .form {
      width: 50%;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .input {
        padding: 10px;
        margin: 3px 0 3px 0;
        width: 100%;
        border-radius: 4px;
        border: 1px solid ;
      }

      .textarea {
        margin-top: 3px;
        border-radius: 4px;
        width: 100%;
        padding: 10px;
      }
    }

    .button {
      width: 20%;
      height: 35px;
      border: none;
      border-radius: 4px;
      color: white;
      background-color: $textColor;
      @include text($fontFamily, 18px, 1.2s);
      letter-spacing: 1px;
    }
  }
}
