@import "../../src/common/styles/sass/variables";
@import "../../src/common/styles/sass/mixins";

.contactsBlock {
  background-color: $bgColor;
  height: 100vh;
  padding-top: 30px;

  .contactsContainer {
    justify-content: flex-start;
    flex-direction: column;

    .form {
      width: 250px;
      height: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .button {
      width: 100px;
    }
  }
}
