@import "../../src/common/styles/sass/variables";
@import "../../src/common/styles/sass/mixins";

.hireBlock {
  background-color: $bgColor;
  height: 200px;

  .hireContainer {
    flex-direction: column;
    justify-content: center;
  }

  .hireBtn {
    padding: 10px 20px;
    text-decoration: none;
    color: $textColor;
  }
}
