.hireBlock {
    background-color: cornflowerblue;
}

.hireContainer {
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: rgba(0, 139, 139, 0.37);
}

.hireBtn {
    padding: 10px 20px;
    background-color: #8664ed;
}