.title {
    color: rgb(103, 34, 181); /*#8873EF*/
    margin: 10px 0 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 36px;
    line-height: 30px;
    letter-spacing: 1px;
}


