@import "../../common/styles/sass/variables";

.title {
    color: $textColor;
    margin: 40px 0 30px;
    text-transform: capitalize;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
    & h2 {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
}

.secondTitle{
    color: white;
    margin: 40px 0 30px;
    text-transform: capitalize;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;
    & h2 {
        margin: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
}


