@import "../common/styles/sass/variables";

.header {
    width: 100%;
    background-color: $secondBgColor;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 80px;
}